{% extends 'base.html.twig' %}

{% block title %}Welcome - Homepage{% endblock %}

{% block body %}
<!-- Includes navbar and title-->
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}

<!--custom html-->
<section class="bg-primary">
	<div class="articles-section">
		<div class="__article">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consectetur tempora, numquam deleniti vel saepe quos est facere quas eos sed voluptate, harum a! Magni, maxime alias! Aperiam beatae obcaecati facere eligendi aliquam aut doloribus assumenda est, impedit maxime laudantium eum a accusamus quod illum molestiae consectetur temporibus qui eos.</p>
			<a href="http://">read</a>
		</div>
		<div class="__article display-none-992px">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consectetur tempora, numquam deleniti vel saepe quos est facere quas eos sed voluptate, harum a! Magni, maxime alias! Aperiam beatae obcaecati facere eligendi aliquam aut doloribus assumenda est, impedit maxime laudantium eum a accusamus quod illum molestiae consectetur temporibus qui eos.</p>
			<a href="http://">read</a>
		</div>
		<div class="__article display-none-992px">
			<img class="__img" src="{{asset("img/article-conception.jpg")}}" alt="article-conception" width="700px">
			<h3>Article title</h3>
			<p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, consectetur tempora, numquam deleniti vel saepe quos est facere quas eos sed voluptate, harum a! Magni, maxime alias! Aperiam beatae obcaecati facere eligendi aliquam aut doloribus assumenda est, impedit maxime laudantium eum a accusamus quod illum molestiae consectetur temporibus qui eos.</p>
			<a href="http://">read</a>
		</div>
	</div>
	<button type="button" class="btn btn-secondary">All Articles</button>
</section>
<div class="about-section">

</div>

{% endblock %}
