{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="container-fluid mt-2">
    <h1 class="my-2">Just Another Blog - Demo</h1>
    <h3 class="mt-4 mb-2">Welcome to the backoffice</h3>
    <p>
        <span>Use the sidebar menu on the left to administrate your website</span>
    </p>
    <p>
        <span>The backoffice your seeing is only a demo. In this section of the backoffice you cannot edit delete or create posts categories or users.</span>
        <span>To get a view of the fully functionnal backoffice you need to install the project locally by cloning the GitHub repo <a href="https://github.com/ZK9XW3/just-another-blog">here</a> </span>
    </p>
    

    
</div>

{% endblock %}
