<footer class="bg-primary">
    <div class="__links">
        <a href="">admin</a>
        <a href="">Contact</a>
        <a href="">Legal mentions</a>
    </div>
    <div class="__credits">
        <a href="">Logo by</a>
        <a href="">Picture by</a>
        <a href="">Pictures by</a>
    </div>
</footer>