<footer class="bg-primary">
    <div class="__links">
        <a href="">Admin</a>
        <a href="">Contact</a>
        <a href="">Legal mentions</a>
    </div>
    <div class="__credits">
        <a href="https://www.flaticon.com/fr/auteurs/iconsbox">Logo by IconsBox</a>
        <a href="https://fr.freepik.com/cookie-studio">Pictures by cookie_studio</a>
        <a href="">From FlatIcon - Freepik</a>
    </div>
</footer>