{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}
{% include "title.html.twig" %}

<!-- CUSTOM HTML-->
<section class="container-fluid bg-primary section-list">
    <div class="list row row-cols-sm-1 row-cols-lg-2 row-cols-xxl-3">
        <!--(div.col.list__post-$>img[class="list__img" src=""]+p.list__text{Lorem ipsum dolor sit amet. Et enim optio est fuga fuga ut consequatur molestiae ex voluptatum sunt quo laborum Quis est quia saepe. Quo laboriosam eius cum atque tempora et ratione inventore hic nihil voluptas ad sint natus a distinctio cumque et deleniti.}+a.list__link{read})*20 -->
        {% for post in postsList %}
        <div class="col list__post-1">
            <img src="{{asset(post.image)}}" alt="" class="list__img" width="500px">
            <h3 class="__post__title">{{ post.title }}</h3>
            <p class="list__text text-white">{{ post.text }}</p>
            <a href="{{ path('post', {id: post.id}) }}" class="list__link">read</a>
        </div>
        {% endfor %}
        
    </div>
</section>
{% set buttonSection = {'value': 'Back to top', 'endpoint': '/posts/#'} %}
{% include "button-section.html.twig" %}
{% include "footer.html.twig" %}
{% endblock %}
